logfile = ""
loglevel = "DEBUG"

localaddr = "localhost:8441"
externaladdr = "https://localhost:8441/graphql"
badger = "c:/temp/performance/badger"
zoomimageheight = 150
aspectratio = 1.77777778
mediaserver = "https://ba14ns21403-sec1.fhnw.ch/mediasrv"
collagepath = "c:/temp/performance/collage"

[elasticsearch]
# endpoint = ["http://localhost:9201", "http://localhost:9200"]
endpoint = ["https://elastic.med.campusderkuenste.ch/"]
index = "fhnw_ink"
apikey = "%%ELASTIC_APIKEY%%"
debug = true

[[client]]
name = "performance"
apikey = "%%TEST.APIKEY%%"
groups = ["global/guest"]
jwtkey = "%%TEST.JWTKEY%%" # ":Xf/#|IKYrDsNi4]LN*o(W7;:"
jwtalg = ["HS256","HS384","HS512"]
jwtmaxage = "10m"
[[client.and]]
[[client.and.or]]
field = "category.keyword"
values = [
    "zotero2!!PCB_Basel",
    "zotero2!!ACT Performance Festival",
    "zotero2!!Konvolute",
    "zotero2!!Performance Art",
    "zotero2!!Kaskadenkondensator Basel",
    "zotero2!!Archive des Ephemeren",
    "zotero2!!Perf en Bref",
    "bangbang",
    "zotero2!!Digitale See",
    "zotero2!!Albena Mihaylova",
    "zotero2!!Doce en Diciembre!!Oceanic Issues - Mensajes Oceánicos",
    "zotero2!!Interviews Archiv Performativ",
    "zotero2!!Performance Art",
    "zotero2!!Perf en Bref",
    "zotero2!!Werke!!Hochschule für Musik!!Motet Cycles"
]

[[client]]
name = "ink"
apikey = "%%INK.APIKEY%%"
groups = ["global/guest"]
jwtkey = "%%TEST.JWTKEY%%" # ":Xf/#|IKYrDsNi4]LN*o(W7;:"
jwtalg = ["HS256","HS384","HS512"]
jwtmaxage = "10m"
